html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  width: 100%;
	line-height: 1.4;
  word-break: keep-all;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 30px;  
  box-sizing: border-box;
}
.exampleWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  margin: 80px auto 0;
  gap: 10px;
}
.exampleWrap h2 {
  flex: 1 auto;  
  position: relative;
  width: 100%;
  font-size: 36px;  
  font-weight: bold;
  color: #fff;
  background: #515ce6;
  border-radius: 10px;
  box-shadow: .5px .5px 10px rgba(0,0,0,.35);
  margin: 0 0 30px;
  padding: 15px;
}
.exampleWrap h2:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 100%;
  z-index: 1;
  transform: translateY(-50%);  
}
.exampleBox {
  flex: 1;  
}
.exampleBox h3 {
  position: relative;
  display: inline-block;
  min-width: 80px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #000;
  border: 1px solid #008ed4;
  background: #50b5df;
  border-bottom: 1px solid #50b5df;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: 5px -5px 10px rgba(0,0,0,.3);
  margin: 0 0 -1px;
  padding: 10px;
}
.example {
  border: 1px solid #008ed4;  
  background:#50b5df;
  box-shadow: .5px .5px 10px rgba(0,0,0,.8);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
}
.exampleBox dl {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid #008ed4;
  padding: 10px 0;
}
.exampleBox dl:last-child {
  border-bottom: 0px;
}
.exampleBox dl dt {  
  flex: none;
  display: inline-block;
  width: auto;    
  font-size: 13px;
  font-weight: 500;
  padding: 0 0 5px;
}
.exampleBox dl dd {
  display: flex;
  align-items: center;
  gap: 5px;
}
.exampleBox dl dd.dd-custom {
  flex-direction: column;
}
.exampleBox dl dd.dd-custom button {
  width: 100%;
}
.exampleBox dl dd button {
  flex: 1;
  cursor: pointer;
  padding: 5px;
  background: #fff;  
  border: 1px solid #111;
  border-radius: 5px;
  transition: all .25s ease;
}
.exampleBox dl dd button:hover {
  color: #fff;
  background: #008ed4;
  border: 1px solid #008ed4;
}
#read-me {
  display: flex;
  flex-direction: column;  
  width: 100%;
  max-width: 1400px;
  background: #efefef;
  border-radius: 10px;
  margin: 60px auto 0;
  padding: 30px;    
  box-shadow: .5px .5px 10px rgba(0,0,0,.15);
  box-sizing: border-box;
}
#read-me dl {
  display: flex;
  flex-direction: column;
  padding: 30px 0 60px;
  border-bottom: 1px dashed #333;
}
#read-me dl dt {  
  font-size: 24px;
  font-weight: bold;
}
#read-me dl dt span {
  position: relative;
  width: 100%;
  max-width: 180px;
  display: inline-block;
  color: #fff;
  background: #515ce6;
  border-radius: 10px;
  box-shadow: .5px .5px 10px rgba(0,0,0,.35);
  margin: 0 0 30px;
  padding: 15px;
}
#read-me dl dt span:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 100%;
  z-index: 1;
  transform: translateY(-50%);  
}
#read-me dl dd img {
  width: 100%;
  max-width: 600px;
}
#read-me .link-area {
  border: 1px solid #50b5df;
  border-radius: 10px;
  overflow: hidden;
}
#read-me .link-area strong {
  display: block;
  font-size: 18px;
  color: #fff;
  background: #50b5df;  
  padding: 15px;
}
#read-me .link-area li {
  background: #fff;
  border-bottom: 1px solid #50b5df;
}
#read-me .link-area li:last-child {
  border-bottom: 0px;
}
#read-me .link-area li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 15px;
  transition: all .25s ease;
}
#read-me .link-area li a:hover {
  color: #fff;
  background: #008ed4;
}
#read-me .dot-list {  
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0 0 0;
  padding: 10px 0;
}
#read-me .dot-list strong {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 5px;
  padding: 0 0 5px;
  border-bottom: 1px solid #e1e1e1;
}
#read-me .dot-list li {
  position: relative;
  padding-left: 15px;
}
#read-me .dot-list li:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #000;
}
.introWrap {
  width: 100%;
  height: 100vh;
}
.introWrap .inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.introWrap .leftArea {
  width: 45%;
}
.introWrap .leftArea img {
  width: 100%;
}
.introWrap .rightArea {
  width: 55%;
  padding: 60px;
}
.introWrap .rightArea h1 {
  font-size: 80px;
  font-weight: bold;
  text-align: left;
  color: rgba(81, 92, 230);
  text-shadow: .5px .5px 10px rgba(81, 92, 230, .85);
  border-radius: 10px;
}
.introWrap .rightArea p {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-shadow: .5px .5px 10px rgba(0,0,0,.25);
  margin: 10px 0 60px;
}
.introWrap .rightArea a {
  display: block;
  text-decoration: none;
  width: 100%;
  max-width: 420px;
  font-size: 16px;
  color: #000;
  text-align: center;
  background: #fff;
  border: 1px solid rgba(81, 92, 230);
  border-radius: 10px;  
  padding: 15px 30px;
  cursor: pointer;
}
.introWrap:before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100vh;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}