html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 30px;  
}
h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: .5px .5px 10px rgba(0,0,0,.8);
  background: rgb(81, 92, 230);
  box-shadow: .5px .5px 10px rgba(0,0,0,.8);
  border-radius: 10px;
  padding: 20px 15px;
}
.exampleWrap {
  display: flex;
  width: 100%;
  margin: 80px 0 0 0;
  gap: 10px;
}
.exampleBox {
  flex: 1;  
}
.exampleBox h2 {
  position: relative;
  display: inline-block;
  min-width: 80px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #000;
  border: 1px solid #008ed4;
  background: #50b5df;
  border-bottom: 1px solid #50b5df;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: 5px -5px 10px rgba(0,0,0,.3);
  margin: 0 0 -1px;
  padding: 10px;
}
.example {
  border: 1px solid #008ed4;  
  background:#50b5df;
  box-shadow: .5px .5px 10px rgba(0,0,0,.8);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
}
.exampleBox dl {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid #008ed4;
  padding: 10px 0;
}
.exampleBox dl:last-child {
  border-bottom: 0px;
}
.exampleBox dl dt {  
  flex: none;
  display: inline-block;
  width: auto;    
  font-size: 13px;
  font-weight: 500;
  padding: 0 0 5px;
}
.exampleBox dl dd {
  display: flex;
  align-items: center;
  gap: 5px;
}
.exampleBox dl dd.dd-custom {
  flex-direction: column;
}
.exampleBox dl dd.dd-custom button {
  width: 100%;
}
.exampleBox dl dd button {
  flex: 1;
  cursor: pointer;
  padding: 5px;
  background: #fff;  
  border: 1px solid #111;
  border-radius: 5px;
  transition: all .25s ease;
}
.exampleBox dl dd button:hover {
  color: #fff;
  background: #008ed4;
  border: 1px solid #008ed4;
}